<?xml version="1.0" encoding="utf-8"?>
<manifest package="tmtc.soap"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />r

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SoapTheme">
        <activity android:name=".View.Implementation.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".View.Implementation.SignupActivity">
        </activity>
        <activity android:name=".View.Implementation.MainActivity">
        </activity>
        <activity android:name=".View.Implementation.MovieActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.APP_BROWSER" />
                <data android:scheme="tmtc"
                      android:host="movie" />

            </intent-filter>
        </activity>
        <activity android:name=".View.Implementation.PersonActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.APP_BROWSER" />
                <data android:scheme="tmtc"
                      android:host="person" />

            </intent-filter>
        </activity>
    </application>

</manifest>
